body{
    margin: 0px;
    position: relative;
}
#form{
    position: relative;
    background-color: hsl(16.1, 56%, 50%);
    /* margin-top: 50px; */
    width: 75vw;
    margin: auto;
    top: 50px;
    border-radius: 15px;
}
input{
    border-radius: 15px;
}
#color{
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 20vh;
    background-color: coral;  
}
#head{
    word-spacing: 10px;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    height: 100px;
}
#Title{
    text-align: center;
}
#description{
    text-align: center;
}